<section class="my-4">
  <div class="container">
    <div class="text-center sHEad pt-3">
      <p class="text-uppercase">Contact Me</p>
      <div
        class="iconContainer d-flex justify-content-center align-items-center"
      >
        <div class="mLine rounded me-2"></div>
        <div>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="mLine rounded ms-2"></div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-content-center mt-5 w-75 m-auto">
    <form class="justify-content-center align-content-center mt-5 w-75 m-auto">
      <div class="col-md-8 pb-3">
        <input
          type="text"
          class="form-control shadow-none"
          id="name"
          placeholder="Name"
        />
      </div>
      <div class="col-md-8 pb-3">
        <input
          type="text"
          class="form-control shadow-none"
          id="mail"
          placeholder="Email Address"
        />
      </div>
      <div class="col-md-8 pb-3">
        <input
          type="text"
          class="form-control shadow-none"
          id="phone"
          placeholder="Phone No"
        />
      </div>
      <div class="col-md-8 pb-3 float-none">
        <textarea
          class="textarea"
          message="Area"
          id=""
          cols="60"
          rows="5"
          placeholder="Message"
        ></textarea>
      </div>
      <div class="btn btn-primary">Send</div>
    </form>
  </div>
</section>
