<section class="my-5">
  <div class="container w-75">
    <div class="mt-5 text-center sHEad">
      <p class="text-uppercase">portfolio</p>
      <div
        class="iconContainer d-flex justify-content-center align-items-center"
      >
        <div class="mLine rounded me-2"></div>
        <div>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="mLine rounded ms-2"></div>
      </div>
    </div>
    <div class="row mt-5 g-4">
      <div class="col-md-4">
        <div class="card">
          <img [src]="img1" alt="" class="card-img" />
          <div
            class="imgHover d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="img2" alt="" class="card-img" />
          <div
            class="imgHover d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="img3" alt="" class="card-img" />
          <div
            class="imgHover d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="img4" alt="" class="card-img" />
          <div
            class="imgHover d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="img5" alt="" class="card-img" />
          <div
            class="imgHover d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img [src]="img6" alt="" class="card-img" />
          <div
            class="imgHover d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
