<section>
  <div class="container">
    <div class="text-center sHEad pt-3">
      <p class="text-uppercase">About</p>
      <div
        class="iconContainer d-flex justify-content-center align-items-center"
      >
        <div class="mLine rounded me-2"></div>
        <div>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="mLine rounded ms-2"></div>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-md-4">
        <p class="lead">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-4">
        <p class="lead">
          You can create your own custom avatar for the masthead, change the
          icon in the dividers, and add your email address to the contact form
          to make it fully functional!
        </p>
      </div>
    </div>
  </div>
</section>
