<header class="">
  <nav class="navbar navbar-expand-lg bg-dark py-2 navbar-dark">
    <div class="container">
      <a class="navbar-brand bold fs-4" href="#">START ANGULAR</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse text-white text-uppercase"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 bold text-uppercase">
          <li class="nav-item">
            <a
              class="nav-link py-3 px-4 text-white rounded-2"
              routerLink="home"
              routerLinkActive="active-link"
              >home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link py-3 px-4 text-white rounded-2"
              routerLink="portfolio"
              routerLinkActive="active-link"
              >portfolio</a
            >
          </li>
          <li class="nav-item text-white">
            <a
              class="nav-link py-3 px-4 text-white rounded-2"
              routerLink="about"
              routerLinkActive="active-link"
              >about</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link py-3 px-4 text-white rounded-2"
              routerLink="contact"
              routerLinkActive="active-link"
              >contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
