<section class="home vh-100">
  <div
    class="container d-flex justify-content-center align-items-center text-center"
  >
    <div class="row">
      <div class="col-md-12 py-4">
        <div class="mt-5">
          <img [src]="imgSrc" alt="" />
        </div>
        <h1 class="mainHead">START ANGULAR</h1>

        <div
          class="iconContainer d-flex justify-content-center align-items-center"
        >
          <div class="mLine rounded me-2"></div>
          <div>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="mLine rounded ms-2"></div>
        </div>

        <p class="font-weight-light mt-3 fs-4 text-white">
          Graphic Artist - Web Designer - Illustrator
        </p>
      </div>
    </div>
  </div>
</section>
